name: Deploy CheckVisit API

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: self-hosted # Sua EC2 como Runner
    
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4 # Baixa o código do repositório

      - name: Build da Imagem Docker
        run: |
          # O Docker fará o Restore e o Publish internamente, 
          # evitando erros de permissão no SDK do .NET da EC2
          docker build -t checkvisit-api .

      - name: Rodar Container
        env:
          # Injeção segura da string de conexão do RDS
          DB_CONN: ${{ secrets.DB_CONNECTION_STRING }}
        run: |
          # 1. Limpeza de containers antigos
          docker stop checkvisit-container || true
          docker rm checkvisit-container || true
          docker image prune -f 
          
          # 2. Execução: Repare que o nome da variável de ambiente no .NET 
          # deve seguir o padrão de duplo underline para o Docker
          docker run -d \
            --name checkvisit-container \
            --restart always \
            -p 80:8080 \
            -e ConnectionStrings__DefaultConnection="$DB_CONN" \
            checkvisit-api