name: Deploy CheckVisit API

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: self-hosted # Sua EC2 como Runner
    
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Publicar Aplicação
        run: dotnet publish -c Release -o ./publish

      - name: Build da Imagem Docker
        run: |
          # Build da imagem. O ponto (.) indica o contexto atual
          docker build -t checkvisit-api .

      - name: Rodar Container
        env:
          # Injeção segura da string de conexão do RDS
          DB_CONN: ${{ secrets.DB_CONNECTION_STRING }}
        run: |
          # 1. Limpeza: remove containers e imagens antigas para não encher o disco da EC2
          docker stop checkvisit-container || true
          docker rm checkvisit-container || true
          docker image prune -f # Remove imagens "orphan" (sem tag)
          
          # 2. Execução: mapeia a porta 80 da EC2 para a 8080 do Container
          # Usamos aspas duplas na variável de ambiente para evitar quebras de caracteres
          docker run -d \
            --name checkvisit-container \
            --restart always \
            -p 80:8080 \
            -e ConnectionStrings__DefaultConnection="$DB_CONN" \
            checkvisit-api